body {

    div.adds {
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1px;
        padding-left: 45%;
        margin-top: -15px;
    }

    header.banner {

        .logo a {
            background: rgb(190, 39, 39);
            display: inline-flex;
            height: 60px;
            width: 60px;
            text-indent: -9999px;
            background-image: url("images/Logo.jpg");
            background-size: 60px;
            background-repeat: no-repeat;
            position: relative;
            border-radius: 50%;
        }

        ul {

            li {
                a {
                    text-decoration: none;
                    color: black;
                }

                display: inline-block;
                margin: 20px;
                background-color: white;
                text-decoration: none;
            }

            margin: 0;
            padding: 0px;
            list-style-type: none;
            background-color:white;
        }

        background-color: white;
        padding-left: 2.5cm;
        padding-right: 2.5cm;
        background-size: 100%;
        color: aqua;
    }

    main {

        section.futureHats {

            li {
                margin-right: 10%;
                margin-top: 80px;
                display: inline-block;
            }

            li.mostRecent {
                background-color: white;
                background-image: url("/images/gorra_roja.jpg");
                text-indent: -999990px;
                padding: 60px;
                background-repeat: no-repeat;
                background-size: 100%;
            }

            li.recent {
                background-color: white;
                background-image: url("/images/gorra_azul.jpg");
                text-indent: -999999990px;
                padding: 60px;
                background-repeat: no-repeat;
                background-size: 100%;
                display: flex;
                flex-direction: column;
            }

            li.notRecent {
                background-color: white;
                background-image: url("/images/gorra_amarilla.jpg");
                text-indent: -999999px;
                padding: 60px;
                background-repeat: no-repeat;
                background-size: 100%;
                display: flex;
                flex-direction: column;
            }

            li:hover {
                transform: scale(2)scaleX(-1)
            }

            div {

                h1 {
                    background-color: white;
                    font-size: xx-large;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-top: -50px;
                }

            }

            padding: 150px;
            display: flex;
            flex-direction: row;
            background-color: white;
            margin: 5%;
            margin-bottom: -80px;
        }

        section.middle-section {
            background-color: white;
            background-image: url("images/banner.jpg");
            background-repeat: no-repeat;
            align-items: center;
            background-size: 1950px;
            padding: 200px;
            display: flex;
            flex-direction: row;
        }

        div.discounts {
    background-color:rgb(255, 193, 122);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: .1%;
    padding-left: 45%;
    margin-top: -15px;
            
        }
        section.low-section {



            section.catalog {

                li.first_row {

                    div {
                        color: black;
                        background-color: white;
                        margin: 2%;
                        display: inline-block;
                        margin-top: -1cm;
                    }

                    div:hover {
                        transform: scale(1.5) scaleX(-1);

                    }

                    .cholo {
                        background-image: url("images/cholo_hat.jpg");
                        padding: 100px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        text-indent: -999990px;
                    }

                    .rancho {
                        background-image: url("images/rancho_hat.jpg");
                        padding: 100px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        text-indent: -9999999999px
                    }

                    .fresones {
                        background-image: url("images/fresa_hat.jpg");
                        padding: 100px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        display: flex;
                        flex-direction: column;
                        text-indent: -999999999999px
                    }

                    .michael_cat {
                        background-image: url("images/michael_cat.jpg");
                        padding: 100px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                        display: flex;
                        flex-direction: column;
                        text-indent: -999999999999px
                    }

                    color: black;
                    background-color: white;
                    margin: 5%;
                    margin-right: -750px;
                    margin-top:-1cm;
                    display: flex;
                    flex-direction:row;
                    flex-wrap: wrap;

                }

                h1 {
                    color: black;
                    background-color: white;
                    margin-top: -4.5cm;
                    margin-left: -3.5cm;
                    font-size: xx-large;

                }

                padding: 10%;
                padding-right: 900px;
                padding-bottom:00px;
                display: inline-flex;
                flex-direction:row;
                background-color:white;

            }

            padding: 150px;
            display: flex;
            flex-direction: row;
            background-color: white;

            section.Contact-info {
                div {
                    h1.subtitle {
                        padding: 10%;
                        padding-right: 900px;
                        padding-bottom: 00px;
                        display: inline-flex;
                        flex-direction: row;
                        background-color: white;
                    }

                    div.horarios {
                        padding-left: 75%;
                        margin-top: -10%;

                    }

                    iframe {
                        width: 100%;
                        height: 450px;
                    }

                    margin-top: -10%;
                    background-color:transparent;
                }
            }
                padding-left: 10%;
                padding-right: 10%;
        }

        background-color: white;
        color: black;
        
    }

    footer {
        background-color: transparent;
        padding: 40px;

        ul {

            li {
                margin-left: 15%;
                display: inline-block;

            }
        }
    }

    background-color:rgb(255, 193, 122);
    font-family: Arial,
    Helvetica,
    sans-serif;
    color:black;
    margin: 0;
    padding: 0;
}